@model RefundHandlingWeb.Models.RealTimeInfo
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>sto
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

    <div class="row">
            <table style="border-bottom:1pt solid black">
                <tr class="ms-crm-List-Row">
                    <td width="18%" class="milabel">@Html.DisplayNameFor(model => model.CouponStatusCheck1A)</td>
                    <td class="mitext" width="30%" style="@(Model.CouponStatusCheck1Acolor?"color:red":"")">@Html.DisplayFor(model => model.CouponStatusCheck1A)</td>
                    <td width="18%" class="milabel">@Html.DisplayNameFor(model => model.CouponStatusCheckRapid)</td>
                    <td class="mitext" width="30%" style="@(Model.CouponStatusCheckRapidcolor?"color:red":"")">@Html.DisplayFor(model => model.CouponStatusCheckRapid)</td>
                </tr>
                <tr class="ms-crm-List-Row">
                    <td width="18%" class="milabel">@Html.DisplayNameFor(model => model.CRMAgencyStatus)</td>
                    <td class="mitext" style="@(Model.CRMAgencyStatuscolor?"color:red":"")">@Html.DisplayFor(model => model.CRMAgencyStatus)</td>
                    @*<td width="18%" class="milabel">@Html.DisplayNameFor(model => model.TicketInCRM)</td>
                    <td class="mitext">@Html.DisplayFor(model => model.TicketInCRM)</td>*@
                </tr>
            </table>

        @*@Html.ActionLink("Real Time Check", "RefreshIndex", "Home", new { id = Model.RefundId }, new { @class = "btn btn-primary", @style = "color:white" })*@
        @*<script type="text/javascript">
            $(function () {
                var taskId = 543;
                $.get('/home/sometask', { id: taskId }, function (result) {
                    window.clearInterval(intervalId);
                    $('#result').html(result);
                });

                var intervalId = window.setInterval(function () {
                    $.getJSON('/home/sometaskprogress', { id: taskId }, function (json) {
                        $('#progress').html(json.Progress + '%');
                    });
                }, 5000);
            });
        </script>*@

        @*@ViewContext.Controller.GetType().Assembly.GetName().Version

       
        @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location)*@
        <br />
        <div class="row justify-content-md-center col-md-10">

            <div class="col-md-5">
                <table class="table-sm table-secondary table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Non-Refundable Taxes RAPID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (string item in Model.Tax_NonRefund.Split(' '))
                        {
                            <tr><td>@item</td></tr> }
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <table class="table-sm table-warning table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Sales Taxes RAPID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (string item in Model.Tax_Sales.Split(' '))
                        {
                            <tr><td>@item</td></tr> }
                    </tbody>
                </table>
            </div>

        </div>

</div>